.id-button {
  border-radius: 5px;
  margin-left: 13px;
  font-size: 20px;
}

.main-button {
  height: 35px;
  width: 80px;
  border: none;
  box-shadow: 0px 5px 10px -4px #000000;
}

.main-button:hover {
  background-color: rgba(209, 201, 201, 0.74);
  box-shadow: 0px 5px 10px -4px #000000;
}

.main-p {
  margin-left: 10px;
  margin-right: 25px;
}

.main-button-outline {
  height: 35px;
  width: 80px;
  background-color: white;
  border: solid 1px blue;
  color: blue;
}

.main-button-outline:hover {
  background-color: rgb(156, 183, 235);
}

.main-button-text {
  height: 35px;
  width: 80px;
  background-color: white;
  border: none;
  color: blue;
}

.main-button-text:hover {
  background-color: cornflowerblue;
}

/* Size classes */

.sm {
  height: 28px;
}

.md {
  height: 35px;
}

.lg {
  height: 42px;
}

.sizeClassesWrapper {
  display: flex;
  flex-direction: row;
}

/* disable shadow */

.off {
  box-shadow: none;
}

.off:hover {
  box-shadow: none;
}

/* button with icons */
.buttonWithIconWrapper {
  display: flex;
  flex-direction: row;
}

.icon-btn-left,
.icon-btn-right {
  width: 120px;
}

.icon-right {
  margin-left: 15px;
  vertical-align: sub;
}

.icon-left {
  position: absolute;
  left: 25px;
}

.icon-btn-left {
  text-align: end;
}