.id-button {
  height: 35px;
  width: 80px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 20px;
}

.main-button {
  border: none;
}

.main-button:hover {
  background-color: rgba(209, 201, 201, 0.74);
}

.main-p {
  margin-left: 10px;
}

.main-button-outline {
  background-color: white;
  border: solid 1px blue;
  color: blue;
}

.main-button-outline:hover {
  background-color: rgb(156, 183, 235);
}

.main-button-text {
  background-color: white;
  border: none;
  color: blue;
}

.main-button-text:hover {
  background-color: cornflowerblue;
}
