.App {
  margin-left: 40px;
}

header {
  font-size: 30px;
  font-weight: bolder;
  margin: 10px 0 5px 0;
}

.variant-wrapper {
  display: flex;
  flex-direction: row;
}

.button {
  border-radius: 5px;
  margin-left: 13px;
  font-size: 20px;
}

.main-button {
  height: 35px;
  width: 80px;
  border: none;
  box-shadow: 0px 5px 10px -4px #000000;
  margin-bottom: 7px;
}

.hover-focus-default:hover,
.hover-focus-default:focus {
  background-color: rgba(209, 201, 201, 0.74);
  box-shadow: 0px 5px 10px -4px #000000;
}

.button-description {
  margin-left: 10px;
  margin-right: 50px;
}

.hover-focus-label {
  color: #797474;
}

.main-button-outline {
  height: 35px;
  width: 80px;
  margin-bottom: 7px;
  background-color: white;
  border: solid 1px blue;
  color: blue;
}

.main-button-text {
  height: 35px;
  width: 80px;
  margin-bottom: 7px;
  background-color: white;
  border: none;
  color: blue;
}

.hover-focus-outline-text:focus,
.hover-focus-outline-text:hover {
  background-color: rgb(215, 224, 240);
}


/* Size classes */
.size-sm {
  height: 28px;
}

.sizze-md {
  height: 35px;
}

.size-lg {
  height: 42px;
}

.size-wrapper {
  display: flex;
  flex-direction: row;
}


/* Disable shadow */
.shadow-off {
  box-shadow: none;
}

.shadow-off:hover {
  box-shadow: none;
}


/* Button with icons */
.button-with-icon-wrapper {
  display: flex;
  flex-direction: row;
}

.icon-btn-left,
.icon-btn-right {
  width: 120px;
}

.icon-right {
  margin-left: 15px;
  vertical-align: sub;
}

.icon-left {
  position: absolute;
  left: 62px;
}

.icon-btn-left {
  text-align: end;
}


/* Disable button */
.disable-button-wrapper {
  display: flex;
  flex-direction: row;
}

.disable-button {
  box-shadow: none;
  opacity: 0.7;
  color: #040404;
}

.disable-button:hover {
  box-shadow: none;
}


/* Color variant */
.color-wrapper {
  display: flex;
  flex-direction: row;
}

.focus-hover-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 75px;
}

.button-hover-focus-secondary {
  margin-left: 165px;
}

.button-hover-focus-red {
  margin-left: 270px;
}

.primary-color {
  color: white;
  background-color: rgb(36, 101, 241);
}

.hover-focus-primary:hover,
.hover-focus-primary:focus {
  background-color: rgb(1, 72, 226);
}

.secondary-color {
  color: white;
  background-color: rgb(70, 76, 90);
}

.secondary-color-w {
  width: 120px;
}

.hover-focus-secondary:hover,
.hover-focus-secondary:focus {
  color: white;
  background-color: rgb(45, 54, 75);
}

.dragon-color {
  color: white;
  background-color: rgb(221, 51, 51);
}

.hover-focus-dragon:hover,
.hover-focus-dragon:focus {
  color: white;
  background-color: rgb(185, 15, 15);
}

